/* common.css */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex: 1;
    padding-bottom: 60px; /* Ensure there’s enough space at the bottom for the footer */

}

.offcanvas {
    width: 250px;
}

.offcanvas a, .offcanvas button {
    display: block;
    margin: 10px 0;
}

.btn-block {
    width: 100%;
}
.hidden {
    display: none;
}
.card-header {
            cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
}